<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtriyvnlBeCVJTweOqEWYUOxcyj--Up1U</string>
	<key>GCM_SENDER_ID</key>
	<string>907185626418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.monfrigoplus</string>
	<key>PROJECT_ID</key>
	<string>projete3-d77dc</string>
	<key>STORAGE_BUCKET</key>
	<string>projete3-d77dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907185626418:ios:d97289cffd0e68a6880b2b</string>
</dict>
</plist>